html, body {
  position: relative;
  height: 100%;
  margin: 0;
  font-family: Arial;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-display {
  position: absolute;
  top: 80px;
  height: calc(100% - 80px);
  width: 100%;
}

.shopping-item--container {
  display: inline-block;
  width: 100%;
  position: relative;
  height: 100%;
  overflow: auto;
}
