@import "mixins";

.item-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  position: relative;
  margin: 0;
  margin-left: 250px;
  width: calc(100% - 530px);
}

.item-list--item {
  border: 1px solid #ddd;
  flex: 0 1 auto;
  list-style: none;
  padding: 10px;
  position: relative;
  width: 230px;
}

.item-list--item--image {
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  width: 210px;
  height: 210px;
}

.item-list--item--name {
  // max-width: 210px;
}

.item-list--item--price {
  margin-bottom: 20px;
}

.item-list--item--add-button {
  background-color: hsl(20, 100%, 40%);
  border: 1px solid hsl(20, 100%, 30%);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  width: 80%;
  left: 10%;
  text-align: center;
  position: absolute;
  bottom: 5px;
  text-shadow: 1px 1px 0 hsl(20, 100%, 30%);
  -webkit-user-select: none;
  user-select: none;
  transition: box-shadow .2s;

  &:hover {
    @include shadow-2dp();
  }
}
