@import "mixins";

.nav-bar {
  @include shadow-2dp();
  position: fixed;
  padding: 35px 0 5px 0;
  background-color: hsl(20, 100%, 40%);
  width: 100%;
  z-index: 1;
}

.nav-bar--menu-list {
  display: block;
  margin: 0;
  padding: 0 20px 0 0;
  text-align: right;
}

.nav-bar--menu-item {
  background-color: hsl(20, 90%, 45%);
  border: 1px solid #ddd;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  transition: box-shadow .2s;

  &:hover {
    @include shadow-4dp();
  }
}
