@import "mixins";

.shopping-cart {
  background-color: hsl(20, 100%, 45%);
  border: 1px solid #eee;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  margin: 0;
  position: fixed;
  right: 0;
  top: 100px;
  width: 250px;
  height: 300px;
  overflow: auto;
}

.shopping-cart--title {
  padding: 10px 0;
  text-align: center;
}

.shopping-cart--list {
  padding: 0;
  margin: 0;
  position: relative;
  height: 200px;
  overflow: auto;
}

.shopping-cart--item {
  background-color: hsl(20, 100%, 60%);
  border-top: 1px solid #eee;
  list-style: none;
  padding: 5px;
  position: relative;
}

.shopping-cart--item--name, .shopping-cart--item--price, .shopping-cart--item--quantity {
  font-size: 80%;
}

.shopping-cart--item--name {
  cursor: pointer;
  display: block;
  -webkit-user-select: none;
  user-select: none;
  transition: text-shadow .2s;

  &:hover {
    text-shadow: 1px 1px 1px hsl(20, 100%, 20%);
  }
}

.shopping-cart--item--price {
  display: inline-block;
}

.shopping-cart--item--quantity {
  display: inline-block;
  position: absolute;
  right: 50px;
}

.shoping-cart--item--remove-button {
  background-color: hsl(10, 60%, 50%),;
  border: 1px solid hsl(10, 60%, 40%);
  border-radius: 4px;
  bottom: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 80%;
  right: 5px;
  padding: 2px 10px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 0 hsl(10, 60%, 40%);
  -webkit-user-select: none;
  user-select: none;
  transition: box-shadow .2s;

  &:hover {
    @include shadow-2dp();
  }
}

.shopping-cart--total-price {
  border-top: 2px solid #eee;
  padding-top: 20px;
  padding-right: 20px;
  text-align: right;
}